/* * {
    background-color: #fff;
} */

body {
    background-color: #fff;
    overflow-anchor: none;


}

 /* header */
 .cta11 h3,.cta11,h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}

.colored{
    background-color: #ff4c68;
    color : #fff;
}

 /* navbar */


.container-fluid { 
    padding: 3% 15% 3% 15;
} 

.navbar {
    padding-bottom: 1.7rem;
}


.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
}

.m-lg-auto {
    padding-left: 29%;
}

.nav-item {
    padding: 0 18px;
}
.nav-link {
    color: rgba(255, 255, 255, 0.832);
}
/* navbar */

/* title */
#title{
    padding-top: 5%;
}

.h1change {
    font-size: 2.8rem;
    line-height: 1.3;
    margin-bottom: 0;
}
.h_padding{
    padding-left: 8%;
}
.d-button {
    margin: 15% 3%;
}

.rotates {
    transform: rotate(20deg);
    width: 20%;
    position: absolute;
    z-index: 0;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .rotates {
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}

/* title */

/* features */

#features {
    background-color: white;
    position: relative;
}

.mar_center {
    padding: 14% 15%;
}

.text1 {
    text-align: center;
    /* margin-bottom: 10%; */
    padding: 4.5%;
}

div .fa-solid {
    font-size: 3rem;
    color: #ef8172;
    margin-bottom: 1rem;
}

div .fa-solid:hover {
    color: #ff4c68;
}

.ch-font-h3 {
    font-size: 22px;
    font-weight: lighter;
}

.p-set {
    /* padding: 0 82px; */
    color: #0000007d
}

/* features */


/* Testimonial */

#testimonials {
    text-align: center;
    background-color: #ef8172;
}

.active {
    padding-left: 50%;
    padding-right: -2%;
}

.carousel-item {
    padding: 7% 15%;
}


.h2_text {
    font-size: 3rem;
    line-height: 1.5;
}

.images_t {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}




/* Testimonial */





/* press */



#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.p-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* press */


/* pricing */

#pricing {
    padding: 100px;
    text-align: center;
  }
  
  .price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .pricing-column {
    padding: 3% 2%;
  }
.row {
    --bs-gutter-x: 1px;
    --bs-gutter-y: 0;
}

/* pricing */

/* call to action */

#cta {

    text-align: center;
    font-size: 4rem;
    line-height: 1.5;
}



#cta h3 {
 
    font-size: 4.5rem;
    line-height: 1.5;
}
/* call to action */

/* footer */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.s-icon {
    margin: 20px 10px;
}
/* footer */


